modules = ["python-3.12"]
run = "streamlit run app.py"

[nix]
channel = "stable-24_05"
packages = ["apt", "geckodriver", "glibcLocales", "libGL", "libGLU", "tesseract"]

[deployment]
run = ["sh", "-c", "streamlit run app.py --server.address 0.0.0.0 --server.headless true --server.enableCORS=false --server.enableWebsocketCompression=false"]

[[ports]]
localPort = 8501
externalPort = 80

[objectStorage]
defaultBucketID = "replit-objstore-57e42b1e-e51d-430d-837c-ce676128b474"
